/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: border-box;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 #root {
  font-size: 16px;
  font-weight: 400;
  /*background: #eee;*/
  font-family: "Roboto", sans-serif;

 }

 .header-group {
  background-color: #C6340E;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
 }

 .header-group h1 {
   font-family: 'Alfa Slab One', cursive;
   font-size: 30px;
   font-style: bold;
   /*color: #9DC2CB;*/
   color: #fff;
 }

.login-signup {
  align-self: center;
  padding-right: 15px;
  color: #fff;
}

.login-signup a:hover {
  /*font-style: bold;*/
  color: black;
  /*font-size: 17px;*/
}

.login-form-container {
  background-color: #C6340E;
  /*background-color: #ddd;*/
  display: fi;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-size: 30px;
  font-family: 'Alfa Slab One', cursive;
  display: block;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  background-color: #eee;
  border: black solid 2px;
  border-radius: 2px;
  padding: 20px;
  width: 40%;
  /*display: flex;*/
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(0%, 50%);
  justify-content: center;
  align-items: center;
}

 .login-input {
   border-bottom: solid black 2px;
   padding: 5px;

 }

 .submit {
   border-radius: 2px;
   /*border: solid black 1px;*/
   padding: 7px;
   margin: 5px;
   background-color: #C6340E;
   color: #fff;
 }

 .submit:hover {
   filter: brightness(85%);
   -webkit-filter: brightness(85%);
 }

 .log-sign:hover {
  color: #C6340E;
 }

.login-direction {
  paddng: 5px;
}

 .error-list {
   color: #C6340E;
   font-size: 14px;
 }

 button, input[type="submit"] {
  cursor: pointer;
  transition: filter .3s, -webkit-filter .3s;
 }

 button:hover, input[type="submit"]:hover {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
 }
