// Place all the styles related to the api/discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Discussion {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: 40px;
}
